/*
HOVERNAV
A simple addition to the dropdown menu (Bootstrap itself is unchanged). Navbar dropdowns appear on hover.
This works only for screen sizes larger than phones.
If you don't want this, delete this segment of the CSS and delete the corresponding segment of bst.js
*/
@media (min-width: 768px) {
  .navbar-nav .caret {
    display: none
  } 
  /* Delete the above if you wish to display the caret */
  .navbar-nav .open ul {
    display: none
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none
  }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    color: #969696;
    background: none
  }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block
  }
}

/*
MEGANAV
A simple addition to the dropdown menu (Bootstrap itself is unchanged). When you add GRAND-CHILD links in the navbar,
On screens larger than phones, Meganav will transform the dropdown into a mega-menu, with child-links displayed as menu-column heads (in bold).
If you don't want this, delete this segment of the CSS and delete the corresponding segment of bst.js
*/
.mega-menu ul a {
	color: #666;
}
.has-children > a {
	font-size: 15px;
	font-weight: bold !important
}
@media (max-width: 767px) {
	.has-children ul {
		display: block !important;
		margin-left: 15px
	}
}
@media (min-width: 768px) {
	.dropdown.mega-menu {
		position: static;
	}
	.mega-menu > .dropdown-menu {
		left: 0;
		right: 0;
		overflow-x: auto
	}
	.mega-menu > ul > li {
	  display:table-cell;
	}
	.mega-menu > ul ul {
		position: relative;
		display: block !important;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		padding: 0
	}
	.has-children {
		border-right: 1px solid #e7e7e7
	}
	.has-children:last-of-type {
		border-right: 0
	}
}


/*
Max content widths
*/
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Header logo
An example of how to use CSS to display an image as a background of an HTML element.
*/

#site-title a {
  display: inline-block;
  padding: 30px 0 30px 100px;
  background: url(../img/bst.png) 0 0 no-repeat;
  background-size: 95px 95px
}
#site-title a:hover {
  background: url(../img/bst-hover.png) 0 0 no-repeat;
  background-size: 95px 95px;
  text-decoration: none
}
.main-nav {
  margin-top: 20px
}

/*
Sidebar
*/

.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */

/*
Footer
*/

.footer ul,
.footer ol {
  list-style-type: none;
  padding: 0
}
.footer li {
  margin: 10px 0
}
.sub-footer p {
  text-align: center
}

/*
Commentlist
*/

ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f8f8f8;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f8f8f8
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}

/*
WOOCOMMERCE - re-styling
If you don't want this, delete this segment of the CSS and delete the corresponding segment of bst.js
*/

.woocommerce a:focus {
  outline: none
}
.woocommerce .count {
  background: inherit
}
.woocommerce .added_to_cart {
  display: block !important
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
  padding-top: 0
}
.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button {
	/* From .btn */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	/* From .btn-primary */
	color: #FFF;
	background: #337AB7;
	border-color: #2E6DA4;
	/* Extra fixes */ 
	text-shadow: none;
	box-shadow: none;
}
.woocommerce #content input.button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover, 
.woocommerce-page #content input.button:hover, 
.woocommerce-page #respond input#submit:hover, 
.woocommerce-page a.button:hover, 
.woocommerce-page button.button:hover, 
.woocommerce-page input.button:hover {
	/* From .btn-primary:hover */
	color: #FFF;
	background: #286090;
	border-color: #204D74;
}
.woocommerce #content input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce-page #content input.button.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt {
	/* From .btn */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	/* From .btn-success */
	color: #FFF;
	background-color: #5CB85C;
	border-color: #4CAE4C;
	/* Extra fixes */
	text-shadow: none;
	box-shadow: none;
}
.woocommerce #content input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce-page #content input.button.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce-page input.button.alt:hover {
	/* From .btn-success:hover */
	color: #FFF;
	background-color: #449D44;
	border-color: #398439;
}
