/*
Editor stylesheet

1. Import the Bootstrap CSS (the same CSS as is used for the front-end of this theme).
2. Import your theme's CSS (the same as is used for the front-end).
3. Then add some CSS to improve your experience in the tiny-mce editor.
*/

@import url('bootstrap.min.css');
@import url('bst.css');

body#tinymce {
  padding: 10px !important;
}
